body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('https://www.xtrafondos.com/wallpapers/rick-en-otro-planeta-6354.jpg');
  background-attachment: fixed;
}
/* https://www.xtrafondos.com/wallpaper/3840x2160/6354-rick-en-otro-planeta.html#&gid=1&pid=2 */